* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
}

* header, footer {
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

}
* header .headerContainer {
  width: 95%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
* header .headerContainer a {
  text-decoration: none;
}
* header .headerContainer a span {
  font-family: "Fanwood Text", serif;
  font-weight: 400;
  color: #fff;
  font-size: 2.5rem;
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  align-items: center;
  justify-content: space-between;
}
* main h1 {
  font-size: 4rem;
  margin: 2rem;
  font-weight: 700;
  font-family: "Fanwood Text", serif;
  align-self: flex-start;
}
* main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  height: 100%;
}

* main .container .editor {
  width: 95%;
  height: 50%;
  max-height: 330px;
  border-radius: 5px;
  overflow: auto;
}
* main .container .controls {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
* main .container .controls button {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
  cursor: pointer;
}
* main .viewer-container {
  width: 80%;
  height: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
* main iframe {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
.editor {
  font-size: 14px;
}
